/* Css reset */
* {
  outline-style: none;
  border: none;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img svg {
  max-width: 100%;
  max-height: 100%;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/*svg*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* Css */
body {
  background-color: #eeeeee;
}

@media (min-width: 500px) {
  body {
    background-color: none;
  }
}

.siteHeader {
  max-width: 325px;
  margin: 20px auto;
}
@media (min-width: 500px) {
  .siteHeader {
    max-width: 600px;
    padding: 43.5px 0;
    margin: 0 auto;
  }
}
.siteHeader > form {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .siteHeader > form {
    position: relative;
  }
}

.siteHeader > form > input {
  flex-basis: 245px;
  padding-left: 5px;
  font-family: 'Microsoft soft';
  border-radius: 5px;
  font-size: 15px;
}

.siteHeader > form > button {
  flex-basis: 70px;
  font-size: 20px;
  text-align: center;
  background-color: blue;
  color: white;
}

@media (min-width: 500px) {
  .siteHeader > form::before {
    position: absolute;
    content: '';
    background: url('./images/Search.png') no-repeat;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(40%, -50%);
  }
  .siteHeader > form > input {
    flex-basis: 100%;
    border-radius: 20px;
    min-height: 40px;
    padding-left: 35px;
  }
  .siteHeader > form > input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }
  .siteHeader > form > button {
    display: none;
  }
}

.siteMain {
  max-width: 305px;
  margin: 20px auto;
}

@media (min-width: 500px) {
  .siteMain {
    max-width: 1000px;
    margin: 0 auto;
    height: 450px;
    overflow: auto;
  }
  .siteMain::-webkit-scrollbar {
    width: 0;
  }
}

.siteMain > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 500px) {
  .siteMain > ul {
    justify-content: stretch;
    margin-right: -20px;
  }
}

.siteMain > ul > li {
  max-width: 150px;
  margin-bottom: 25px;
}

@media (min-width: 500px) {
  .siteMain > ul > li {
    min-width: 150px;
    margin-right: 20px;
  }
}
.siteMain .siteContainer {
  min-width: 140px;
  min-height: 160px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .siteMain .siteContainer {
    min-width: 140px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: all 1s ease-in-out;
  }
  .siteMain .siteContainer:hover {
    opacity: 1;
    border-radius: 50%;
  }
}

.siteContainer > .logo {
  width: 72px;
  height: 72px;

  font-size: 64px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.siteContainer > .text {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.siteLast {
  cursor: pointer;
}
